
.wrapper {
  .make-row();
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}
/*Christian > font & bootstrap workaround*/
@font-face {
    font-family: 'Satzkorn'; /*a name to be used later*/
    src:url('Satzkorn.ttf'); /*URL to font*/
}


h2{
  font-family:'Satzkorn';
  font-size: 64px;
  text-align: center;
  color: #2276de;
  margin-bottom:16px;
}
table{
  border:8px solid #ddd;
  border-bottom: 8px solid #ddd;
  font-size: 16px;

}
thead{
  border-bottom: 8px solid #ddd;
}

th{
  text-align: center;
  border:8px;
}

td{
  text-align:center;
  border:8px solid #ddd;
}

p{
margin: 0 0 8px;
}box

.content-main {
  .make-row();
}

/* Loading */
#loading {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
  display: block;
}

#finished-loading {

  display: none;
}

/* Game related */
.game-box {
  width: 801px;
  height: 601px;
  position: relative;
}

canvas {
  position: absolute;
  top: 0px;
  background: transparent;
}

#backgroundID {
  position: absolute;
  z-index: -2;
}
#buddhaID {
  z-index: -1;
}
#obstaclesID {
  z-index: 0;
}

/* Title screen */
#gametitle {
  position: relative;
  top: 48px;
  height: 480px;
  text-align: center;
  cursor: default;
}
.gametitle p {
  position: relative;
}

/* Game over screen */
#game-over {
  position: relative;
  top: 120px;
  height: 440px;
  margin-left: 112px;
  margin-right: 112px;
  text-align: center;
  cursor: default;
  display: none;
}
.game-over p {
  position: relative;
    cursor: pointer;
}

/* Game header */
#gameheader {
  position: relative;
  margin-right: 8px;
  margin-left: 8px;
  width: 784px;
}

.statuslife {
  position: relative;
  float: right;
  display: none;
}

.content-below {
  .make-row();
}

#gamefooter {
  position: absolute;
  top: 524px;
  margin-right: 8px;
  margin-left: auto;
  width: 792px;
}

.timescore {
  position: relative;
  float:right;
  text-align:right;
  color: #421d6f;
  font-family: 'Satzkorn';
  font-size: 64px;
  cursor: default;
  display: none;
}
.score {
  position: absolute;
  bottom:zero;
  text-align:left;
  color: #421d6f;
  font-family: 'Satzkorn';
  font-size: 64px;
  cursor: default;
  display: none;
}


.content-below {
  .make-row();
}

/* High score */
#highscore {
  position: relative;
  top: 64px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 128px;
}

.content-footer {
  .make-row();
}

#footer {
  margin-top: 40px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  border-top: thin solid #cfcfcf;
}

.container-footer {

}
